<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Things</title>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
